<section id="education">
    <div class="container">
        <h2 class="py-3 fw-bold fs-2">Education</h2>
        <hr />
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="d-flex py-3">
                    <img src="assets/escomLogo.png" class="shadow-lg p-2 me-3 bg-light rounded-3 align-self-center"
                         style="width: 10rem; height: 10rem" />
                    <div class="align-self-center">
                        <p class="fs-4 fw-bold">ESCOM IPN</p>
                        <p class="fs-5 fw-bold">
                            Computing Systems Engineering
                        </p>
                        <small class="text-muted">2016 - 2022</small>
                    </div>
                </div>
                <div class="d-flex py-3">
                    <img src="assets/cecytLogo.png" class="shadow-lg p-2 me-3 bg-light rounded-3 align-self-center"
                         style="width: 10rem; height: 10rem" />
                    <div class="align-self-center">
                        <p class="fs-4 fw-bold">
                            CECyT 13 Ricardo Flores Magon IPN
                        </p>
                        <p class="fs-5 fw-bold">
                            IT Technician
                        </p>
                        <small class="text-muted">2013 - 2016</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="py-3">
                    <p class="fs-3 fw-bold">Languages</p>
                    <ul class="fs-6">
                        <li class="p-2">English, B2</li>
                        <li class="p-2">Spanish, native speaker</li>
                    </ul>
                </div>
                <div class="py-3">
                    <p class="fs-3 fw-bold">ourses</p>
                    <ul class="fs-6">
                        <li class="p-2">
                            APIs Fundamentals - CoE APIs Bronze level
                        </li>
                        <li class="p-2">
                            Stanford University's course CS193p
                            (Developing Applications for iOS using
                            SwiftUI)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
