<div class="container text-center">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center pb-3 mb-3">
            <li class="nav-item">
                <a href="#about" class="nav-link px-2 text-muted">About</a>
            </li>
            <li class="nav-item">
                <a href="#experiance" class="nav-link px-2 text-muted">Experience</a>
            </li>
            <li class="nav-item">
                <a href="#projects" class="nav-link px-2 text-muted">Projects</a>
            </li>
            <li class="nav-item">
                <a href="#education" class="nav-link px-2 text-muted">Education</a>
            </li>
            <li class="nav-item">
                <a href="#contact" class="nav-link px-2 text-muted">Contact</a>
            </li>
        </ul>
        <hr id="footer" />
        <a href="#" class="">
            <img src="assets/logo.png" style="width: 5rem" id="logo-footer" />
        </a>
    </footer>
</div>
