<section id="contact">
    <div class="container">
        <h2 class="py-3 fw-bold fs-2">Contact</h2>

        <hr />
        <div class="row justify-content-center">
            <div class="col-md-4 p-5 align-self-center d-grid gap-3">
                <a href="mailto:gerardogonzalezdocs@gmail.com" class="btn btn-secondary rounded-5 shadow p-3 fw-bold">
                    <i class="fa-solid fa-envelope"></i>
                    <span class="px-3">Email</span>
                </a>
                <a href="tel:+525636619449" class="btn btn-secondary rounded-5 shadow p-3 fw-bold">
                    <i class="fa-solid fa-phone"></i>
                    <span class="px-3">Phone</span>
                </a>
                <a href="https://www.linkedin.com/in/gerardoggarzon" class="btn btn-secondary rounded-5 shadow p-3 fw-bold" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                    <span class="px-3">LinkedIn</span>
                </a>
                <a href="https://github.com/Gerardo-GG" class="btn btn-secondary rounded-5 shadow p-3 fw-bold" target="_blank">
                    <i class="fa-brands fa-github"></i>
                    <span class="px-3">Github</span>
                </a>
            </div>
        </div>
    </div>
</section>
