<header id="navbar">
    <nav class="navbar sticky-top bg-body navbar-expand-lg shadow p-3 mb-5 rounded-bottom" id="navbar-container">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/assets/logo.png" style="width: 5rem" id="logo">
                <img src="/assets/logo-dark.png" hidden="">
            </a>
            <div class="d-flex align-items-center justify-content-center">
                <button class="navbar-toggler px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavigation" aria-controls="navbarNavigation" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarNavigation">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item px-3 clearfix">
                        <a class="nav-link active fw-bold" href="#about">About</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link active fw-bold" href="#experiance">Experience</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link active fw-bold" href="#projects">Projects</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link active fw-bold" href="#education">Education</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link active fw-bold" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<app-about />

<router-outlet/>
